header {
  background-color: #95c2b7;
  margin: 0% 0% 0%;
  padding-bottom: 5px;
}
header > a {
  font-size: 50px;
  font-family: "Black Han Sans", sans-serif;
  color: aliceblue;
  text-decoration-line: none;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px;
}
.book-content {
  /*   background-color: grey;*/
  margin: 30px;
}
.book-content > article {
  background-color: C4C4C4;
  width: 100%;
  margin: 30px auto 0;
  display: flex;
  /*justify-content: center*/
}
#book-title {
  display: flex;
  align-items: center;
}
/*
#book-title > button {
  font-size: 18px;
  padding: 10px;
  border: none;
  background-color: C4C4C4;
}
*/
#book-title > h2 {
  margin-right: 10px;
}
.book-img,
.book-text {
  /*  background-color: aquamarine;*/
  padding: 20px;
}
.book-text {
  width: 60%;
}
.book-img > img {
  height: 300px;
  flex: 10 10 200px;
  margin: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  /* 
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 450px;
      */
}
.comment-list {
  padding-left: 30px;
  padding-right: 30px;
}
.comment-list > button {
  font-family: "Noto Sans KR", sans-serif;
}
.comment,
#instaform {
  width: 100%;
  margin: 30px 0 30px 0;
  display: flex;
  /*justify-content: center*/
}
.comment > .comment-view {
  width: 100%;
}
#instaform > input {
  width: 100%;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid dimgray;
  font-size: 20px;
  margin-right: 10px;
}
.profile-img > img {
  height: 50px;
  flex: auto auto auto;
  margin: 10px;
}

/*진행 바*/
#progress-bar {
  width: 80%;
}
.book-text > a {
  background-color: blueviolet;
  color: white;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration-line: none;
  text-decoration-color: none;
  border-radius: 8px 8px;
}
