header {
  background-color: #95c2b7;
  margin: 0% 0% 0%;
  padding-bottom: 5px;
}
header > a {
  font-size: 50px;
  font-family: "Black Han Sans", sans-serif;
  color: black;
  letter-spacing: -1px;
  text-decoration-line: none;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px;
}
